#wrapper {
    width: 100%;
    margin: auto;
    min-height: 100%;
    height:auto !important;
    height: 100%;
    overflow: hidden !important;
    position: relative;
}

#content {
    margin: 0 auto;
    margin-top: 250px;
    padding: 0;
    width: 750px;
    max-width: 80%;
    padding-bottom: 40px;
}

@media (max-height: 850px) {
    #content {
        margin-top: 150px;
    }
}

@media (max-height: 750px) {
    #content {
        margin-top: 100px;
    }
}

@media (max-height: 700px) {
    #content {
        margin-top: 60px;
    }
}

#buttons {
    margin-top: 13px;
    margin-bottom: 50px;
    text-align: center;
}

input {
    font-size: 13pt;
    margin: 0;
}

#notification {
    display: none;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 250px;
    height: 46px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1pt solid #000;
    font-size: 10pt;
    border-radius: 5px;
}

#reference {
    text-align: center;
    font-size: 12pt;
}

#logo {
    width: 100%;
    height: 55px;
    background-image: url(./pl.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

#query {
    border: 1pt solid #06f;
    width: 100%;
    padding: 4px;
    padding-left: 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#query:hover, #query:focus {
    border: 1pt solid #05d;
    outline: 1pt solid #ddf;
    box-shadow: inset 0 0 1px #06f;
}


.submit {
    font-size: 9pt;
    font-weight: bold;

    padding: 7px;
    margin-right: 6px;
    margin-left: 6px;
    color: #333;
    border: 1pt solid #ccc;
    background-color: #f8f8f8;
    border-radius: 2px;
}

.submit:hover {
    border: 1pt solid #888;
    background-color: #f8f8f8;
    box-shadow: inset 0 0 1px #ccc;
    outline: 1pt solid #fff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: Arial, sans-serif;
}

.infobox {
    display: none;
    font-size: 11pt;
    margin: 0 auto;
    padding: 15px;
    width: 420px;
    height: 100%;
    background: #fff;
    border: 1pt solid #ccc;
    outline: 2pt solid #f0f0f0;
}

.infobox p {
    text-align: left;
}

.infobox a {
    color: #06f;
    text-decoration: none;
}

.infobox a:hover {
    color: #05d;
    text-decoration: underline;
}

.infobox img {
    float: right;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 0;
}

.infobox form {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.infobox input.text, .infobox textarea {
    width: 250px;
    border: 1pt solid #777;
    margin: 3px;
    padding: 3px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background: #fff;
}

.infobox textarea {
    height: 80px;
}

#feedbackSubmit {
    width: 130px;
    margin: 3px;
    padding: 2px;
    background-color: #eee;
}


.supported {
    font-size: 8pt;
    margin-bottom: 0;
}

.instr {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    padding-left: 28px;
    font-weight: bold;
    color: #06f;
    background-image: url(graphics/arrow.png);
    background-repeat: no-repeat;
}

pre {
    border-left: 2pt solid #ccc;
    padding-left: 5px;
    font-size: 9pt;
    color: #666;
    line-height: 13pt;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    text-align: justify;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    padding: 0;
    background: #fff;
    border-top: 1pt solid #ccc;
    text-align: center;
    font-weight: bold;
}

#footer div {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 4px;
    text-decoration: none;
    color: #06f;
    font-size: 15px;
}

#footer div:hover {
    background-color: #06f;
    color: #fff;
    outline-top: 1pt solid #06f;
}

